.image_t {
    width: 28%;
    margin-left: 5%;
    margin-top: 1%;
}

.image_cover {
    width: 100%;
}

.image_detail {
    display: flex;
    align-items: center;
}

.image_title {
    width: 30%;
    font-size: 15px;
    font-weight: 800;
}

.image_name {
    width: 30%;
    margin-left: 45px;
    font-size: 12px;
}